*.pyc
*~
*.swp
CMakeLists.txt.user
*.wav
AUTOGEN*
software/build
software/ros/catkin_ws/.catkin_workspace
software/ros/catkin_ws/*build/
software/ros/catkin_ws/devel/
software/ros/catkin_ws/src/CMakeLists.txt*
software/external/*
software/ros/catkin_ws/src/diago_apps
software/ros/catkin_ws/src/diago_setup
software/ros/catkin_ws/src/dis_segway
software/ros/catkin_ws/src/glocalizer
software/ros/catkin_ws/src/gradient_based_navigation
software/ros/catkin_ws/src/laser_analysis
software/ros/catkin_ws/src/pnp_msgs
software/ros/catkin_ws/src/pnp_ros
software/ros/catkin_ws/src/rococo_navigation
software/ros/catkin_ws/src/stage_environments
software/ros/catkin_ws/src/tcp_interface
doc/**/*.pdf
doc/**/*.dvi
doc/**/*.aux
doc/**/*.log
doc/**/*.gz
frames.gv
frames.pdf
**/*.o
**/*.d
**/a.out

