*~
*.swp
CMakeLists.txt.user
*.wav
AUTOGEN*
software/build
software/ros/catkin_ws/.catkin_workspace
software/ros/catkin_ws/*build/
software/ros/catkin_ws/devel/
software/ros/catkin_ws/src/CMakeLists.txt*
software/external/gradient_based_navigation/
software/ros/catkin_ws/src/gradient_based_navigation
software/external/PetriNetPlans/
software/ros/catkin_ws/src/pnp_msgs
software/ros/catkin_ws/src/pnp_ros
software/external/stage_environments/
software/ros/catkin_ws/src/stage_environments
doc/**/*.pdf
doc/**/*.dvi
doc/**/*.aux
doc/**/*.log
doc/**/*.gz
frames.gv
frames.pdf

