<launch>

  <arg name="robot_name" default="diago" />
  <arg name="laser_topic" default="scan"/>
  <arg name="laser_frame" default="laser_frame"/>

  <arg name="plan_folder" default="$(find t41_robust_navigation)/plans" />
  <arg name="pru_folder" default="$(find t42_multi_robot_planning)/prus" />
  <arg name="PNPGUI" default="false" />
  <arg name="PRU" default="pruDIAG.xml" />
  <arg name="pru_patience" default="0.99" /> <!-- percentage of reward kept each second -->
  <arg name="pru_horizon" default="10" />    <!-- number of decisions steps to compute -->

  <arg name="map_name" default="DISB1" />
  <arg name="world_file" default="AUTOGEN_$(arg map_name)_$(arg robot_name).world" />

  <master auto="start"/>

  <include file="sim_environment.launch">
    <arg name="world_file" value="$(arg world_file)" />
    <arg name="map_name" value="$(arg map_name)" />
    <arg name="initial_pose_x" default="2.6" />
    <arg name="initial_pose_y" default="13.0" />
    <arg name="initial_pose_a" default="3.14" />
  </include>

  <group ns="$(arg robot_name)">
    <param name="robot_name" value="$(arg robot_name)" />

    <node pkg="t11_kb_modeling" type="mockModel" name="kb_modeling" respawn="false" output="screen">
      <remap from="t21_robot_location" to="amcl_pose" />
      <param name="map_name" value="$(arg map_name)" />
    </node>

    <node pkg="t12_kb_reasoning" type="mockSites" name="kb_reasoning" respawn="false" output="screen">
    </node>
    
    <node pkg="t21_image_processing" type="mockPeople" name="perception" respawn="false" output="screen">
    </node>

    <node pkg="t22_situation_awareness" type="t22" name="situation_awareness" respawn="false" output="screen">
    </node>
    
    <node pkg="t31_multimodal_hri" type="mockHRI" name="multimodal_hri" respawn="false" output="screen">
    </node>

    <node pkg="t32_human_needs_estimation" type="t32" name="human_needs_estimation" respawn="false" output="screen">
    </node>

    <node pkg="t41_robust_navigation" type="t41" name="robust_navigation" respawn="false" output="screen">
      <remap from="t41_low_level" to="move_base_simple/goal" />
      <param name="plan_folder" value="$(arg plan_folder)" />
    </node>

    <node pkg="t41_robust_navigation" type="controlGUI.py" name="control_gui" respawn="false" output="screen" required="true">
    </node>

    <node pkg="gradient_based_navigation" name="gradientBasedNavigation" type="gradient_based_navigation" args="80"  output="screen">
	      <param name="GUI" value="true" />
	      <param name="attractiveDistanceInfluence_m" value="0.5" />
	      <param name="obstaclesDistanceInfluence_m" value="1.0" />
	      <param name="laser_frame" value="/$(arg robot_name)/$(arg laser_frame)" />
	      <remap from="base_scan" to="/$(arg robot_name)/$(arg laser_topic)" />       
    </node>

    <node pkg="rococo_navigation" type="follow_corridor_node" name="follow_corridor"  args="-server $(arg robot_name)" respawn="false" output="screen">
      <remap from="cmd_vel" to="desired_cmd_vel" />
    </node>
    <node pkg="rococo_navigation" type="turn_node" name="turn"  args="-server $(arg robot_name)" respawn="false" output="screen">
      <remap from="cmd_vel" to="desired_cmd_vel" />
    </node>

    <node pkg="pnp_ros" type="pnp_node" name="pnp" args="" output="screen" >
      <param name="plan_folder" value="$(arg plan_folder)" />
      <param name="current_plan" value="stop" />
      <param name="use_java_connection" value="$(arg PNPGUI)" />
    </node>

    
    <node pkg="t41_robust_navigation" type="t41_pnpas" name="pnpas" args="" output="screen">      
    </node>


    <node pkg="t42_multi_robot_planning" type="pruPlanner2" name="PRU_planner" respawn="false" output="screen"> 
      <remap from="t21_robot_location" to="amcl_pose" />
      <param name="robot_name" value="$(arg robot_name)" />
      <param name="pru_folder" value="$(arg pru_folder)" />
      <param name="PRU" value="$(arg PRU)" />
      <param name="patience" value="$(arg pru_patience)" />
      <param name="horizon" value="$(arg pru_horizon)" />
    </node>

    <group ns="planner">
      <node pkg="move_base" type="move_base" respawn="false" name="planner" output="screen">
        <remap from="map" to="/map" />
        <remap from="odom" to="dummy" />
        <remap from="cmd_vel" to="dummy2" />

        <rosparam file="$(find stage_environments)/config/$(arg robot_name)/navigation/move_base_params.yaml" command="load" />
        <rosparam file="$(find stage_environments)/config/$(arg robot_name)/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find stage_environments)/config/$(arg robot_name)/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find stage_environments)/config/$(arg robot_name)/navigation/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find stage_environments)/config/$(arg robot_name)/navigation/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find stage_environments)/config/$(arg robot_name)/navigation/base_local_planner_params.yaml" command="load" />

        <!-- Override MOVE_BASE Frame Params to include prefix -->
        <param name="global_costmap/laser_scan_sensor/sensor_frame" value="/$(arg robot_name)/LASER_FRAME"/>
        <param name="global_costmap/laser_scan_sensor/topic" value="/$(arg robot_name)/LASER_TOPIC"/>
        <param name="global_costmap/robot_base_frame" value="/$(arg robot_name)/base_frame"/>   
        <param name="local_costmap/global_frame" value="/$(arg robot_name)/odom"/>
        <param name="local_costmap/laser_scan_sensor/sensor_frame" value="/$(arg robot_name)/LASER_FRAME"/>
        <param name="local_costmap/laser_scan_sensor/topic" value="/$(arg robot_name)/LASER_TOPIC"/>
        <param name="local_costmap/robot_base_frame" value="/$(arg robot_name)/base_frame"/> 
      </node>
    </group>
  </group>

</launch>
